:root{
    --white-color: #fff;
    --red-color:#e23a3e;
    --text-color:#333;
    --background-color:#222;
    --header-height: 70px;
    --text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: initial;
}

html {
/* có thể dùng 10px */
 font-size: 62.5%;  
 line-height: 1.6rem;
 font-family: 'Roboto Condensed', sans-serif;
 box-sizing: border-box;
}